# GitHub
Host github.com
  Hostname github.com
  User git
  Identityfile ~/.ssh/id_ed25519
  IdentitiesOnly yes

# Bitbucket
Host bitbucket.org
  HostName bitbucket.org
  User git
  Port 22
  TCPKeepAlive yes
  IdentitiesOnly yes
  identityFile ~/.ssh/id_ed25519
